body {
  font-family: 'Arial', sans-serif;
  background-color: #F4E1A1; 
  color: #4C4C4C; 
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #FFF5E1; 
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #4B8A29; 
}

select {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #F2B97F; 
  background-color: #F9E1C1; 
  appearance: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select:focus {
  outline: none;
  border-color: #D3A15C; 
}

.bread-top {
  margin-bottom: 0;
  background-color: #F2D25F; 
}
.bread-bottom { 
  background-color: #F2D25F; 
  margin-top: 20px;
} 